*{

}

.diasdelasmaterias{
    background-color: antiquewhite;

}
.materias{
    color:blue;
    background-color: antiquewhite;
}
.titulodelatabla{
    color: antiquewhite;
    font-weight: 700;
    background-color: blueviolet;
}
.otros{
    color: rgb(255, 51, 0);
    background-color: antiquewhite;   
}
.diasymaterias{
    color: brown;
    background-color: antiquewhite;
}
.Tabla3{
    margin: 20px auto;
}